# awful config

## colors are rgba
## bar bg color
#barcolor=ffffff19
## typing color
#typingcolor=00ff0080
## backspace color
#deletecolor=ffff0080
## verifying password color
#authcolor=00ffff80
## password error color
#errorcolor=ff000080
## large text color (greeter, time)
#textcolor=ffffff99
## small text color (layout, date)
#subtextcolor=7f7f7f99
## main font
#font="NotoSans Nerd Font"
## large text font size
#textsize=64
## small text font size
#subtextsize=24
## greeter message
#greetertext="Welcome"
## time format
#timetext="%l:%M%p"
## date format
#datetext="%A, %b %e, %Y"
## bar text color
#mesgcolor=ffffffff
## bar text font
#mesgfont="NotoSans Nerd Font"
## bar text font size
#mesgsize=16
## verifying password message
#authmesg=" Verifying..."
## password error message
#errormesg=" Access Denied"
## screeen locking message
#lockmesg=" Locking..."
## locking failed message
#failedmesg=" Lock Failed"
## no input error message
#inputmesg=" Enter Password..."
## screen to display indicator (0 for all)
#screen=1
## span lockscreen image
#span=true
## how fast bars fill and fade
#stepper=7

# vim: set ft=cfg:
